name: build docker image
on : workflow_dispatch
jobs: 
  build-image: 
    runs-on: ubuntu-latest
    steps: 
      - name: download Artifacts
        uses: actions/download-artifact@v4
        with: 
          name: docker-artifact
      - name: build docker image
        run: |
          ls 
          docker build -t my-app:latest .
      