name: testing the workflow
on: 
  workflow_dispatch: 
    inputs: 
      DEBUG: 
        description: enter if you want debug info
        required: false
        default: 'false'
        type: boolean

jobs: 
  Build: 
    runs-on: ubuntu-latest
    steps: 
    - name: print github context
      if: inputs.DEBUG
      run: |
        echo "trigger by ${{ github.event_name }}"
    