name: build code
on: workflow_dispatch
jobs: 
  Build: 
    runs-on: ubuntu-latest
    steps: 
      - name: install nodejs
        uses: actions/setup-node@v4
        with: 
          node-version: '18'
      - run: echo "pipeline is triggered with ${{ github.event_name }} event"
      - name: Checkout code
        uses: actions/checkout@v3  
      - name: npm install
        run: npm install
      - name: build the code
        run: npm build
      - name: run tests
        run: npm test
      - name: upload artifact
        uses: actions/upload-artifact@v3
        with: 
          name: website
          path: dist/
      
            
    
